<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Student List - Computing and Digital Technologies Major</h1>
    <h3>Add Student</h3>
    <form action="/insert" method="post">
        student ID: <br>
        <input type="text" name="studentID" id="studentID" value=""> <br>
        Name: <br>
        <input type="text" name="name" id="name" value=""> <br>
        Year of study: <br>
        <select name="year_of_study" id="year_of_study">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select> <br>
        Email: <br>
        <input type="text" name="email" id="email" value=""> <br>
        <button>Add Student</button>
    </form>
    <table border="1">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Year of Study</th>
            <th>Email</th>
            <th colspan="2">Manage</th>
        </tr>
        <% if (data.length>0) { %>
            <% data.forEach(s=> { %>
                <tr>
                    <td>
                        <%= s.studentID %>
                    </td>
                    <td>
                        <%= s.name %>
                    </td>
                    <td>
                        <%= s.year_of_study %>
                    </td>
                    <td>
                        <%= s.email %>
                    </td>
                    <td><button class="edit" data-id="<%= s._id %>"
                        onclick="edit('<%= s._id %>')">Edit</button>
                </td>
                    <td><button class="del" data-id="<%= s._id %>"
                            onclick="confirmDelete('<%= s._id %>')">Delete</button>
                    </td>
                    
                </tr>
                <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="5">There are no students to display</td>
                        </tr>
                        <% } %>

    </table>
    <script>
        // const deldata = document.querySelector('button.del')
        // deldata.addEventListener('click', (e) => {
        function confirmDelete(studentID) {
            const confirmDelete = confirm("Are you sure you want to delete this student?");
            if (confirmDelete) {
                // const endpoint = `/student/${deldata.dataset.id}`
                window.location.href = "/student/" + studentID;
                // alert(endpoint)
            } else {
                // ผู้ใช้ยกเลิกการลบ ไม่ต้องทำอะไร
            }
        }
        function edit(studentID) {
                window.location.href = "/student/edit/" + studentID;
        }
        // })
    </script>
</body>

</html>